{{#contentFor "head"}}
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.187.0.min.js"></script>
  <script>
    var albumBucketName = '{{ bucketName }}';
    var bucketRegion = '{{ region }}';
    var IdentityPoolId = '{{ identityPoolId }}';

    AWS.config.update({
      region: bucketRegion,
      credentials: new AWS.CognitoIdentityCredentials({
        IdentityPoolId: IdentityPoolId
      })
    });

    var s3 = new AWS.S3({
      apiVersion: '2006-03-01',
      params: {Bucket: albumBucketName}
    });

    function listAlbums() {
      s3.listObjects({Delimiter: '/'}, function(err, data) {
        if (err) {
          return alert('There was an error listing your albums: ' + err.message);
        } else {
          var albums = data.CommonPrefixes.map(function(commonPrefix) {
            var prefix = commonPrefix.Prefix;
            var albumName = decodeURIComponent(prefix.replace('/', ''));
            return getHtml([
              '<li>',
                '<span onclick="deleteAlbum(\'' + albumName + '\')">X</span>',
                '<span onclick="viewAlbum(\'' + albumName + '\')">',
                  albumName,
                '</span>',
              '</li>'
            ]);
          });
          var message = albums.length ?
            getHtml([
              '<p>Click on an album name to view it.</p>',
              '<p>Click on the X to delete the album.</p>'
            ]) :
            '<p>You do not have any albums. Please Create album.';
          var htmlTemplate = [
            '<h2>Albums</h2>',
            message,
            '<ul>',
              getHtml(albums),
            '</ul>',
            '<button onclick="createAlbum(prompt(\'Enter Album Name:\'))">',
              'Create New Album',
            '</button>'
          ]
          document.getElementById('app').innerHTML = getHtml(htmlTemplate);
        }
      });
    }

    function createAlbum(albumName) {
      albumName = albumName.trim();
      if (!albumName) {
        return alert('Album names must contain at least one non-space character.');
      }
      if (albumName.indexOf('/') !== -1) {
        return alert('Album names cannot contain slashes.');
      }
      var albumKey = encodeURIComponent(albumName) + '/';
      s3.headObject({Key: albumKey}, function(err, data) {
        if (!err) {
          return alert('Album already exists.');
        }
        if (err.code !== 'NotFound') {
          return alert('There was an error creating your album: ' + err.message);
        }
        s3.putObject({Key: albumKey}, function(err, data) {
          if (err) {
            return alert('There was an error creating your album: ' + err.message);
          }
          alert('Successfully created album.');
          viewAlbum(albumName);
        });
      });
    }

    function viewAlbum(albumName) {
      var albumPhotosKey = encodeURIComponent(albumName);
      s3.listObjects({Prefix: albumPhotosKey}, function(err, data) {
        if (err) {
          return alert('There was an error viewing your album: ' + err.message);
        }
        // `this` references the AWS.Response instance that represents the response
        var href = this.request.httpRequest.endpoint.href;
        var bucketUrl = href + albumBucketName + '/';

        var photos = data.Contents.map(function(photo) {
          var photoKey = photo.Key;
          var photoUrl = bucketUrl + encodeURIComponent(photoKey);
          return getHtml([
            '<li style="float:left; margin-right:1rem;"><div class="wrapper"><div class="parent" style="background:#efefef;">',
              '<div class="child small text-right delete-btn" onclick="deletePhoto(\'' + albumName + "','" + photoKey + '\')">x</div>',
              '<div class="child">',
                '<a href="' + photoUrl.replace(/%2F/g, '\/') + '" target="_blank"/>',
                '<img style="height:128px;" src="' + photoUrl + '"/>',
                '</a>',
              '</div>',
            '<div></div></li>',
          ]);
        });
        var message = photos.length ?
          '' :
          '<p>Uh oh, there are no photos for this deal. Better add some.</p>';
        var htmlTemplate = [
          message,
          '<ul id="items" style="list-style:none;padding:0;">',
            getHtml(photos),
          '</ul>'
        ]
        document.getElementById('app').innerHTML = getHtml(htmlTemplate);
        var sidebarHTML = '<p><input id="photoupload" type="file" accept="image/*"></p><button id="addphoto" onclick="addPhoto(\'' + albumName +'\')">Add Photo</button>';
        if ('{{errors}}'.length > 0) {
          sidebarHTML += '<p style="font-size:0.75rem;margin-top:2rem;color:white;background:red;padding-left:0.25rem;">Missing StreetEasy Fields</p>';
          '{{errors}}'.split(",").forEach(function (item) {
            sidebarHTML += '<p style="font-size:0.75rem;">' + item + '</p>';
          });
        } else {
          sidebarHTML += '<p style="font-size:0.75rem;margin-top:2rem;color:white;background:green;padding-left:0.25rem;">StreetEasy Valid</p>';          
        }
        document.getElementById('sidebar').innerHTML = sidebarHTML;
        document.getElementById('pipedrive-link').href = 'https://grandandco.pipedrive.com/deal/' + albumName;
        document.getElementById('pipedrive-link').innerHTML = '{{title}}';
      });
    }

    function addPhoto(albumName) {
      var files = document.getElementById('photoupload').files;
      if (!files.length) {
        return alert('Please choose a file to upload first.');
      }
      var file = files[0];
      var fileName = file.name;
      var albumPhotosKey = encodeURIComponent(albumName) + '/';
      var photoKey = albumPhotosKey + fileName;
      s3.upload({
        Key: photoKey,
        Body: file,
        ACL: 'public-read',
        ContentType: 'image/png'
      }, function(err, data) {
        if (err) {
          return alert('There was an error uploading your photo: ', err.message);
        }
        viewAlbum(albumName);
      });
    }

    function deletePhoto(albumName, photoKey) {
      s3.deleteObject({Key: photoKey}, function(err, data) {
        if (err) {
          return alert('There was an error deleting your photo: ', err.message);
        }
        viewAlbum(albumName);
      });
    }

    function deleteAlbum(albumName) {
      var albumKey = encodeURIComponent(albumName) + '/';
      s3.listObjects({Prefix: albumKey}, function(err, data) {
        if (err) {
          return alert('There was an error deleting your album: ', err.message);
        }
        var objects = data.Contents.map(function(object) {
          return {Key: object.Key};
        });
        s3.deleteObjects({
          Delete: {Objects: objects, Quiet: true}
        }, function(err, data) {
          if (err) {
            return alert('There was an error deleting your album: ', err.message);
          }
          alert('Successfully deleted album.');
          listAlbums();
        });
      });
    }      

    function getHtml(template) {
      return template.join('\n');
    }
    //listAlbums();
    viewAlbum({{{pid}}});
    
  </script>
{{/contentFor}}


<div id="app"></div> 